name: CD - Auto Deploy (DEV)

on:
  workflow_run:
    workflows: ["CI - DevSecOps"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
      - name: Login to ECR
        run: |
          aws ecr get-login-password --region ap-south-1 \
          | docker login --username AWS --password-stdin 861550625988.dkr.ecr.ap-south-1.amazonaws.com

      - name: Deploy
        run: |
          docker pull 861550625988.dkr.ecr.ap-south-1.amazonaws.com/nodejs-frontend:${{ github.sha }}
          docker run -d --name node-app -p 3000:3000 \
          861550625988.dkr.ecr.ap-south-1.amazonaws.com/nodejs-frontend:${{ github.sha }}

